/*  Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
/* Root */
:root {
    --Principal: #ff0000;
    --colorText: #787878;
}


*{
}

body {
    font-family: "Roboto", sans-serif !important;
  }

p{
    margin: 2.5px 0px !important;
}

  .border-cards{
    border-radius: 25px !important;
  }

  .red-color{
    color: #FF0000 !important;
  }

  .bg-red-secondary{
    background-color: #FFDFDF;
  }

  .bg-grey{
    background-color: #E7E7E7;
  }

  .bg-red{
    background-color: #FF0000 !important;
  }

 .title-secundary{
  color: #3F3F3F;
 }

 .text-secundary{
  color: #6F6F6F;
 }

  .size-text{
    font-size: 0.875rem;
  }

  .border-advertising{
    box-shadow: 0px 4px 19px 3px rgba(0, 0, 0, 0.25);
border-radius: 21px;
  }

  .border-cards-galery{
    background-color: #F9F9F9;
    border-radius: 21px 0px 0px 21px;
  }
  .border-cards-galery-two{
    background-color: #F9F9F9;
    border-radius: 21px;
  }

  .border-cards-galery-left{
    background-color: #F9F9F9;
    border-radius: 0px 21px 21px 0px;
  }

  .span-secundary{
    color: #787878 !important;
  }

  .text-p{
    font-size: 0.75rem;
  }

  /*  btn seleccionar tarjeta t2 */

  .pading-x{
    padding: 0.375rem 2.188rem !important;
  }

    /*  estandar de los textos  */
  .main-titles{
    font-size: 1.25rem;
  }

  .titles-secundary{
    font-size: 1.125rem !important;
  }

  .tertiary-titles{
    font-size: 0.875rem;
  }

  .text-price{
    font-size: 1rem;
  }

  .primary-span{
    font-size: 0.75rem !important;
  }

  .padin-t-two{
    padding: 2px 2px !important;
  }

  .column-design{
    padding: 1.063rem 0.75rem;
    background: #FFFFFF;
box-shadow: 0rem 0.25rem 1.188rem -0.188rem rgba(0, 0, 0, 0.25);
border-radius: 1.25rem;
  }

  .padding-card-v{
    padding: 0.438rem 0.438rem !important;
    font-size: 0.688rem !important;
    font-family: "Roboto", sans-serif !important;
  }

  .px-7{
    padding: 0.5rem 5.75rem !important;
  }

    /*  Vista en galery  */

    .design-navigation-cards{
      border-radius: 0.938rem 0.938rem 0px 0px;
      padding: 0.438rem 2.188rem !important;
    }

    .high-bars{
      height: 7px !important;
    }

    .color-FFDFDF{
      background-color: #FFDFDF;
    }

    .color-transparent{
      color: transparent;
    }