/*  Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

/* Root */
:root {
  --Principal: #ff0000;
  --colorText: #787878;
}

p{
    margin: 0 !important;
}

body {
  font-family: "Roboto", sans-serif !important;
}

/* -----------------
          header
--------------------*/

.contenedor-header {
  /* Auto layout */
  height: 5.563rem;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.sizeh {
  height: 100%;
  flex-direction: column;
}

.text-miUsuario {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 38px;

  color: #706f6f;
  text-align: end;
}

.position-ui {
  color: transparent !important;
  text-decoration: underline;
  display: flex !important;
  justify-content: flex-end !important;
}

/* -----------------
    BUSCADOR-BANNER
--------------------*/
.fondo {
  background-image: url(https://lp-cms-production.imgix.net/features/2013/01/Cartagena_Colombia_cs-b9a2c77a9fe3.jpg);
  width: 1198px;
  height: 506.89px;
}

.posicionB {
  justify-content: center;
}

.sizeBus {
  justify-content: center;
  position: relative;
  top: 90%;
}

.buscador-container {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 50px 27px;
  gap: 11px;

  height: 9.6em;

  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.estilo-text {
  width: 209px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 38px;
  /* identical to box height */
  color: #3f3f3f;
}

.color-text {
  color: #787878;
}

/* -------------------
 Cuerpo de sugerencias
----------------------*/
.d-p-t{
    padding-bottom: 0.3rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #FFFFFF;
box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin-left: 1rem;
}

.color-a{
    color: transparent !important;
}
.margin-br {
  margin-top: 42rem !important;
}

.texto-d {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 38px;

  color: #000000;
}

.destino-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0.09em;
  padding-left: 0.438rem;

  color: #000000;
}

.margin-tarjetas {
  margin-top: 4rem !important;
}

.bg-de-la-t {
  background-color: #706f6f;
  height: 9rem !important;
  border-radius: 1.063rem 1.063rem 0 0;
}

.bg-desa {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0.375rem;
  gap: 0.625rem;
  position: relative;
  background-color: white;
  width: 10.5rem;
  height: 2.125rem;
  gap: 0.438rem;
  border-radius: 0.438rem;
  top: 0.813rem;
  left: 0.938rem;
}

.fa-solid fa-utensils {
  width: 1rem;
  height: 1.125rem;
}

.span-d {
  width: 133px;
  height: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 20px;

  color: #3f3f3f;
}

.bg-cuerpo-t {
  background-color: white;
  margin-top: 0.813rem;
  padding-left: 0.938rem;
}

.text-p-d {
 
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.688rem;

  color: #000000;
}

.fa-solid fa-location-dot {
  width: 0.938rem;
  height: 1.438rem;

  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.438rem;
  /* identical to box height */
}

.text-c-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.0rem;
  line-height: 1.25rem;

  color: #6f6f6f;
}

.c-separador{
    display: flex;
    justify-content: center;
}

.separador{
    color: #C1C1C1 !important;
    size: 3px;
    margin: 1rem 0;
    color: inherit;
    border: 1rem;
    border-top: var(--bs-border-width) solid;
    opacity: 100%;
    width: 90%;
    margin-top: 0.863rem;
    margin-bottom: 0.563rem;
}

.text-f-t{
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.0rem;
line-height: 1.313rem;
color: #6F6F6F;
padding-right: 0.625rem;
}

.p-n{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.125rem;
line-height: 1.313rem;

color: #6F6F6F;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.c-f-t{
    padding-left: 0.938rem;
}

/* --------------------------
 Cuerpo de sugerencias part 2
----------------------------*/
.bg-de-la-t-two{
    height: 14.688rem;
    background-color: #3f3f3f;
    border-radius: 20px 20px 9px 9px;
}

.bg-desa-two{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 0.375rem;
    gap: 0.625rem;
    position: relative;
    background-color: white;
    width: 10.5rem;
    height: 2.125rem;
    gap: 0.438rem;
    border-radius: 0.438rem;
    top: 1.313rem;
    left: 0.938rem;
}

.color-span-two{
    color: #f8f6f6;
    background: #FF1D1D;
    border-radius: 0.25rem;
    margin-right: 0.563rem;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 1.188rem;
padding: 0.2rem;
}

.p-precios{
    display: flex;
}

.p-one{
    padding-left: 0.938rem;
}

.text-precios{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
color: #3F3F3F;
}

.text-precio-p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.5rem;
color: #000000;
}

.text-af{
  display: flex;
  justify-content: flex-end;
}

.text-p-ed{
  display: flex;
  justify-content: flex-end;

}

.text-precios-pd{
  display: flex;
  align-content: flex-end;
}

.d-flex{
  color: #6F6F6F;
    width: 4px;
    margin-left: 1.5rem;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 0.063rem !important;
  min-height: 4.5rem !important;
  background-color: currentcolor;
  opacity: 0.90 !important; 
}

.bg-flooter-two{
  padding-left: 0.638rem;
  display: flex;
  padding-top: 0.813rem;
}

.text-flooter-two{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
line-height: 1rem;
color: #3F3F3F;
padding-left: 5px;
}

.ahorro-COP{
  color: rgba(255, 0, 0, 1);
}

.tex-c-p-two{
  margin-top: 8px !important;
}

.color-trans{
  color: transparent !important;
}

.m-mod{
  margin-top: 0.39rem;
  margin-left: 0.875rem;
}

.margin-flooter{
  margin-top: 1.5rem;
}

/* -------------------------------------------------------------------------------------
                                      Listering
----------------------------------------------------------------------------------------*/

/* --------------------------
       Buscador Listering
----------------------------*/
.marg-top-b{
  margin-top: 2rem;
  margin-bottom: 1.78rem;
}

.dis-buscador-l{
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 30px 30px;
}

/* --------------------------
   Cuerpo culumna Izquierda
----------------------------*/
.orden-f-p{
  display: flex;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
  padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.t-img{
  height: 505px;
  background-color: #6f6f6f;
}

.fa-solid fa-star{
  width: 1.625rem;
  height: 1.625rem;
}

.edit-icon{
  width: 28px;
  height: 28px;
  color: #FFD337 !important; 
}

.edit-va{

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 1.125rem;
line-height: 1.313rem;

color: #3F3F3F;
}

.separacion-c-p{
  margin-bottom: 0.625rem !important;
}

.separacion-est{
  margin-right: 1.5rem;
}

.p-tarjetas-v{
  padding: 0.313rem !important;
  background-color: #FF0000;
  border-radius: 0.438rem;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
line-height: 1.313rem;

color: #FFFFFF;
}

.b-disable{
  background: #FFFFFF !important;
border: 0.063rem solid #C2C2C2;
border-radius: 0.438rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1.125rem;
line-height: 1.313rem;
color: #787878;
}

.separacion-val{
  margin-bottom: 1.25rem !important;
}

.button-val{
  border: none;
  padding: 0;
  width: 2rem;
}

label.form-check-label {
  color: #787878 !important;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 1.125rem;
line-height: 1.313rem;
padding-top: 0.313rem !important;
margin-left: 0.313rem !important ;
}

.form-check-input.is-invalid{
  border-color: #C2C2C2 !important;
}

.form-check-input {
  height: 20px !important;
  width: 20px  !important;
}

.contenedor-c-p-b{
  background: #FFFFFF;
box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding-bottom: 4.313rem;
}

.s-r-l{
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.margin-img-p-m{
  margin-bottom: 1.25rem;
  box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.separa-e-p{
  margin-right: 0.313rem;
}

/* --------------------------
         columna derecha
----------------------------*/

.tarjeta-principal{
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}

.primera-part{
  background: #D9D9D9;
border-radius: 1.25rem;
width: 35rem;
}

.segunda-part{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: 0.625rem;
  width: 54.313rem;
  background-color: white;
}

.tercera-part{
  display: flex;
  flex-direction: column;
}

.d-de-precios{
  display: flex;
}

.c-desayuno{
  margin-top: 1rem;
  margin-left: 0.9rem;
}

.etiquieta-desayuno{
  padding: 0.375rem;
  color: #000000;
  background-color: white;
  border-radius: 0.438rem;
  font-style: normal;
font-weight: 900;
font-size: 0.75rem;
line-height: 0.875rem;
}

.text-estilo{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 1.875rem;
line-height: 2.188rem;

color: #3F3F3F;
}

.estilo-ciudad{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 27px;

color: #6F6F6F;
}

.text-cancel{
font-style: normal;
font-weight: 900;
font-size: 11px;
line-height: 13px;
/* identical to box height */


color: #FF1D1D;
}

.flooter-tarjeta{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;

color: #FF1D1D;
}

.orientacion-flex{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.s-pm-pm{
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  color: rgba(193, 193, 193, 1);
}

.p-precio-two{
  padding-left: 1.25rem;
}

.posicion-flooter{
  display: flex;
    justify-content: center;
}

.cont-part-tres{
  height: 10.5rem;
  padding-top: 0px;
}

.posi-botton-s{
 display: flex;
 justify-content: center;
}

.btn-dis{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.438rem;
  color: white;
  background-color: #f10000;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.pad-fondo-c-g{
  padding: 0.313rem;
  background: #FFDFDF;
border-radius: 0.25rem;
}

.est-cgd{
  margin-right: 0.438rem;
}

.separa-vertical{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.tamano-vr{
  height: 95%;
  color: rgba(193, 193, 193, 1);
}

.control-p{
  padding: 0 !important;
}

/* -------------------------------------------------------------------------------------
                                                 Galery-Img
----------------------------------------------------------------------------------------*/

.cont-part-for{
  height: 12.5rem;
  padding-top: 0px;
}

.ver-mas{
  color: rgba(255, 0, 0, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 2.688rem;
}

/* --------------------------
   columna izquierda galery
----------------------------*/
.text-estilo-c-d-g{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;

color: #3F3F3F;
}

.text-estilo-span-c-i-g{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;

color: #6F6F6F;
}

.botones-nav{
  background: #FF1D1D;
border-radius: 15px 15px 0px 0px;
color: white;

padding: 9px 36px;
}

.botones-nav-n-active{
  background: #E7E7E7;
border-radius: 15px 15px 0px 0px;
padding: 9px 37px;
}

.estilo-text-h5{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.estilo-parrafo{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
text-align: justify;

color: #6F6F6F;
}

.container-descripcion{
  background: #FFFFFF;
box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
border-radius: 20px;
padding: 31px 31px;
}

.orientacion-flex-c-i-g{
  margin-left: 17px;
}

.d-container-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-info-hotel{
  justify-content: space-between;
  flex-wrap: wrap;
}

.con-d-flex{
  display: flex;
}

.wifi{
  padding-top: 3px;
  padding-left: 8px;
}

.estacionamiento{
  padding-top: 3px;
  padding-left: 8px;
}

/* --------------------------
   columna derecha galery
----------------------------*/

.container-part-derecha{
  background: #FFFFFF;
  box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 27px 8px;
}

.estilo-p-c-i-g{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;
}

.separador-c-i{
  display: flex;
  justify-content: center;
}

.estilo-span{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #6F6F6F;

}

.separador-i-t{
  color: #C1C1C1 !important;
  size: 3px;
  margin: 1rem 0;
  color: inherit;
  border: 1rem;
  border-top: var(--bs-border-width) solid;
  opacity: 100%;
  width: 100%;
  margin-top: 0.863rem;
  margin-bottom: 0.563rem;
}

.d-p-c-i{
  display: flex;
  flex-wrap: wrap;
}

.tamano-parrafo-i{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
text-align: right;

color: #000000;
}

.tamano-span{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  
  color: #6F6F6F;
}

.tamano-span-two{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  
  color: #6F6F6F;
}

.d-costo-der{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.d-costo-end{
  display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.posicion-btn-selec{
  display: flex;
  justify-content: center;
}

.estilo-span-flooter-c-d-g{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #6F6F6F;
}

.ex-el-iva{
  font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #FF0000;
}

.cont-ser-afiliado{
  background: #FFDFDF;
box-shadow: 0px 4px 19px -3px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding: 16px 23px;
}